.toast-error {
    background-color: rgba(91,17,17,.8);
    white-space: nowrap !important;
    padding-right: 45px !important;
    position: relative;
}

.theme-dark .toast-error {
    background-color: rgba(61,7,7,.8);
    position: relative;
}

.theme-dark .toast-error .toast-close-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.toast-error .toast-close-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
@media (min-width: 241px) and (max-width: 480px) {
    #toast-container .toast-close-button {
        right: 5px;
        top: 18px;
    }
    .toast-error {
        white-space: normal !important;
    }
}
